<!-- future enhancements: ejs functionality is not being used, can create the same code with html instead -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Smart Note</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Bungee&family=Inspiration&family=Roboto:wght@100&family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/app.js"></script>
  <script src="/scripts/login.js"></script>
</head>

<body>

  <nav>

    <div class="header-left">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
        <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
      </svg>
      <span>Smart ToDo List</span>
    </div>

    <!-- displayed when user is not logged in -->
    <div class="header-right">
      <ul>
        <li>
          <button class="login-button" type="submit">Log in</button>
          <!-- form toggles when button is clicked -->
          <div class="login-content">
            <form method="POST" action="/login" id="submit-login">
              <fieldset class="inputs">
                <input type="email" class="email-input" placeholder="Your email address" required>
                <input type="password" class="password-input" placeholder="Password" required>
              </fieldset>
              <fieldset class="actions">
                <button type="submit">Log in</button>
              </fieldset>
            </form>
          </div>
        </li>

        <li>
          <button class="signup-button" type="submit">Signup</button>
          <!-- form toggles when button is clicked -->
          <div class="signup-content">
            <form>
              <fieldset class="inputs">
                <input type="email" placeholder="Enter email address" required>
                <input type="password" placeholder="Enter password" required>
              </fieldset>
              <fieldset class="actions">
                <button type="submit">Signup</button>
              </fieldset>
            </form>
          </div>
        </li>
      </ul>
    </div>

    <!-- gets displayed when user is logged in -->
    <div class="header-right-logged-in">
      <span>Let's get productive, </span><span class="user"></span>!<span></span>
      <button class="logout-button" type="submit">Log out</button>
    </div>

  </nav>

  <main>

    <section class="new-task-form">
      <form method="POST" action="/tasks" class="new-task-form-data">
        <input type="text" class="new-task-input" name="tasktext" placeholder="Create a new task"></input>
        <button class="submit-task-button" type="submit">Submit</button>
      </form>
    </section>

    <div class="filters">
      <button class="filter-option movie-filter">🎥</button>
      <button class="filter-option book-filter">📚</button>
      <button class="filter-option eat-filter">🍽️</button>
      <button class="filter-option buy-filter">🛍️</button>
      <button class="filter-option unknown-filter">❓</button>
      <button class="filter-option completed-filter">✅</button>
      <button class="filter-option clear-filter">🪄</button>
    </div>

    <article class="tasks-container">

      <div class="watch-container">
        <h3>Watch Movies/Shows</h3>
        <div class="watch">
        </div>
      </div>

      <div class="read-container">
        <h3>Read Books</h3>
        <div class="read">
        </div>
      </div>

      <div class="eat-container">
        <h3>Eat at Restaurants</h3>
        <div class="eat">
        </div>
      </div>

      <div class="buy-container">
        <h3>Buy Products</h3>
        <div class="buy">
        </div>
      </div>

      <div class="unknown-container">
        <h3>Unknown</h3>
        <div class="unknown">
        </div>
      </div>

      <div class="completed-container2">
        <h3>Completed</h3>
        <div class="completed-container">
        </div>
      </div>

    </article>

  </main>
</body>
</html>
