// future enhancements: take advantage of sass variables, nesting and mixins

#new-task {
  border: none;
	padding: 8px;
	margin: 0.5em 0em 0.5em 0em;
	width: fit-content;
  outline: none;
	background-color: rgb(246, 247, 248);
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  font-weight: bolder;
}

#new-task:hover {
	color: rgb(5, 23, 41);
}

#no-task-msg {
	font-size: 5em;
	margin: none;
  display: none;
}

section {
	height: min-content;
	border: 1.5px solid rgb(252, 249, 249);
	padding: 1.5em 1.5em 1em 1.5em;
	margin-bottom: 2.5em;
}

.dropdown-button {
  visibility: hidden;
}

.dropdown-button:hover {
  visibility: visible;
}
